/mana/mana.Foundation/obj
/mana/mana.Foundation/bin
/mana/.vs
/mana/mana.Test/obj
/mana/mana.Test/bin
/mana/mana.ClassGen
/mana/mana.ScriptExport
/mana/mana.Test.Client/bin
/mana/mana.Test.Client/obj
/mana/mana.Server.Test/obj
/mana/mana.Server.Test/bin
/mana/mana.Game.BattleSystem/obj
/mana/mana.Game.BattleSystem/bin
/mana/mana.Server.Battle/obj
/mana/mana.Server.Battle/bin
/mana/mana.Server.Game/bin
/mana/mana.Server.Game/obj
